{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<ul id="mysidebar" class="nav affix">
  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  <li>
        {% if folderitem.external_url %}
        <li><a href="{{folder.external_url}}" target="_blank">{{folder.title}}</a></li>
        {% elsif page.url == folder.url %}
        <li class="active"><a href="{{folder.url | remove: "/"}}">{{folder.title}}</a></li>
        {% elsif folderitem.type == "empty" %}
        <li><a href="{{folder.url | remove: "/"}}">{{folder.title}}</a></li>

        {% else %}
        <li><a href="{{folder.url | remove: "/"}}">{{folder.title}}</a></li>
        {% endif %}
   </li>
     {% endif %}
      {% endfor %}
      {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>
